
.Card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0px;
	border-radius: 15px;
	background: #4A4A59;
}


.CardImage img {
	width: 100%;
	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
}

.CardDetailsBox {
	width: 100%;
	height: auto;
	display: inline-flex;
	padding: 20px 30px;
	flex-flow: column wrap;
	align-items: left;
	gap: 20px;
	border-radius: 15px;
}

.CardDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	align-self: stretch;
}

.CardTitle {
	width: 100%;
	color: #645F4A;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.CardSubtitle {
	color: #F7F7F7;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
}

.CardText {
	width: 100%;
	color: #F7F7F7;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
}
